html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*Navigation*/
.top-navigation{
width:100%;
background-color:#ffffff;
position:fixed;
}
.content{
width:970px;
height:70px;
margin:0 auto;
}
.logo{
	width:26px;
	height:70px;
}
.navigation-links{
	float:right;
	font-family: 'Roboto', sans-serif; 
font-size: 16px; 
color: #838994; 
letter-spacing: 0.03em;
-webkit-font-smoothing: antialiased;
margin-top:25px;

}
.navigation-links li{
	display:inline;
	margin-left:1.563rem;

}
.navigation-links li.active{
	  color: #4c5058;
    font-weight: 600;
}
.introduction h1,h3{
	color:#ffffff;
	text-align:center;
	margin:auto;
}

.introduction
{
	background-image:url('../images/first-background copy.jpg');
	 background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
}
.introduction.content{
	margin:auto;
}
.introduction.buttons
{
	background-color:#f15a29;
	color:#ffffff;
	width:9.688rem;
	border-radius:4px;
	font-size1.125rem;
	text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    margin-top:1.563rem;
}
.devices li{
	display:inline-block;
	list-style:none;
	margin-right:10px;
}
.cases .content {
margin-top: 7.875rem;
padding: none;
color: #1d1e21;
text-align: center;
}
.cases,devices{
	width:33.3333%;
	margin:0 auto;
}
.cases h2 {
font-size: 2.75rem;
font-family: 'Roboto', sans-serif; 
margin: 1.625rem 0 3.125rem;
font-weight: 300;
}
.caption h3{
	color:#1d1e21;
	font-family: 'Roboto', sans-serif; 

}
.social hr {
border: 0;
border-top: 1px solid #eaebec;
margin: 1.313rem 0;
}